




<div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="menu-item product-image">
                                                <a href="{{path('single_product',{id:singleProduct.id})}}">
                                                {% if singleProduct.image %}
                                                    <img  src="{{asset('uploads/' ~ singleProduct.image)}}" alt="{{singleProduct.name}}">
                                                {% else %}
                                                    <img height="136" src="{{asset("bundles/flexyfront/assets/images/picture.png")}}" alt="{{singleProduct.name}}">
                                                {% endif %}
                                                </a>

                                                {% if singleProduct.percentReduction %}                                                
                                                <span class="sticker"> <b>- {{singleProduct.percentReduction * 100}} %</b></span>
                                                {% endif %}


                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="shop-left-sidebar.html">{{singleProduct.name}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{{path('single_product',{id:singleProduct.id})}}">{{singleProduct.name}}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">{{singleProduct.formattedPrice}} MAD</span>
                                                    </div>
                                                    {% if isDeal is defined and  isDeal == true and singleProduct.promotion %}
                                                    <div class="countersection">
                                                        <div data-endat="{{singleProduct.promotion.endAt|date("Y/m/d")}}" class="li-countdown"></div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">


                                                          

                                                        <li data-id="{{singleProduct.id}}"  data-name="{{singleProduct.name}}" data-image="uploads/{{asset(singleProduct.image)}}" data-price="{{singleProduct.formattedPrice}}"  data-url="{{path('single_product',{id:singleProduct.id}) }}"  class="add-cart active add-product-to-cart"><a  onclick="return false;" href="#">Ajouter au panier</a></li>
                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                        <li><a href="#" title="Prévisualiser" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>