            <!-- Begin Header Area -->
            <header class="li-header-4">
                <!-- Begin Header Top Area -->
                <div class="header-top ">
                    <div class="container">
                        <div class="row">
                            <!-- Begin Header Top Left Area -->
                            <div class="col-lg-3 col-md-4">
                                <div class="header-top-left">
                                    <ul class="phone-wrap">
                                        <li><span>Tel:</span><a href="#">(+212) 623 321 345</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Header Top Left Area End Here -->
                            <!-- Begin Header Top Right Area -->
                            <div class="col-lg-9 col-md-8">
                                <div class="header-top-right">
                                    <ul class="ht-menu">
                                        <!-- Begin Paramétres Area -->
                                        <li>
                                            <div class="ht-setting-trigger"><span>Paramétres</span></div>
                                            <div class="setting ht-setting">
                                                <ul class="ht-setting-list">
                                                    <li class="menu-item"><a href="{{path('myaccount')}}">Mon compte client</a></li>
                                                    <li class="menu-item" ><a  href="{{path('shop_vendor')}}">Mon compte vendeur</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- Paramétres Area End Here -->
                                        <!-- Begin Currency Area -->
                                        <li class="d-none">
                                            <span class="currency-selector-wrapper">Currency :</span>
                                            <div class="ht-currency-trigger"><span>USD MAD </span></div>
                                            <div class="currency ht-currency">
                                                <ul class="ht-setting-list">
                                                    <li><a href="#">EUR €</a></li>
                                                    <li class="active"><a href="#">USD MAD </a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- Currency Area End Here -->
                                        <!-- Begin Language Area -->
                                        <li class="d-none">
                                            <span class="language-selector-wrapper">Language :</span>
                                            <div class="ht-language-trigger"><span>English</span></div>
                                            <div class="language ht-language">
                                                <ul class="ht-setting-list">
                                                    
                                                    <li><a href="#"><img src="{{asset('bundles/flexyfront/assets/images/menu/flag-icon/2.jpg')}}" alt="">Français</a></li>
                                                    <li class="active"><a href="#"><img src="{{asset('bundles/flexyfront/assets/images/menu/flag-icon/1.jpg')}}" alt="">Arabe</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- Language Area End Here -->
                                    </ul>
                                </div>
                            </div>
                            <!-- Header Top Right Area End Here -->
                        </div>
                    </div>
                </div>
                <!-- Header Top Area End Here -->
                <!-- Begin Header Middle Area -->
                <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                    <div class="container">
                        <div class="row">
                            <!-- Begin Header Logo Area -->
                            <div class="col-lg-3">
                                <div class="logo pb-sm-30 pb-xs-30">
                                    <a href="index.html">
                                        <img width="150" src="{{asset('bundles/flexyfront/assets/images/omall/logo.png')}}" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo Area End Here -->
                            <!-- Begin Header Middle Right Area -->
                            <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                                <!-- Begin Header Middle Searchbox Area -->
                                <form action="{{path('front_search')}}" class="hm-searchbox">
                                    <select class="nice-select select-search-category">
                                        <option value="0">Tout</option> 
                                        {% for singleCategory in categoriesProduct %}
                                           
                                                                       
                                        <option value="10">{{singleCategory}}</option>   
                                               {% for singleSubCategory in singleCategory.subCategories %}           
                                                <option value="17">- -  {{singleSubCategory}}</option>  
                                                     {% for singleSubCategory2 in singleSubCategory.subCategories %}           
                                                    <option value="17">- - - -  {{singleSubCategory2}}</option>  
                                                     
                                                    {% endfor %} 
                                                {% endfor %}                 
                                                

                                        {% endfor %}

                                    </select>
                                    <input type="text" value="{{app.request.get('keyword')}}" name="keyword" placeholder="Vêtements & chaussures, Téléphones, Tv's, Tablettes, Chemises,...">
                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                                <!-- Header Middle Searchbox Area End Here -->
                                <!-- Begin Header Middle Right Area -->
                                <div class="header-middle-right">
                                    <ul class="hm-menu">
                                        <!-- Begin Header Middle Wishlist Area -->
                                        <li class="hm-wishlist menu-item d-none">
                                            <a href="{{path('wishlist')}}">
                                                <span class="cart-item-count wishlist-item-count">0</span>
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <!-- Header Middle Wishlist Area End Here -->
                                        <!-- Begin Header Mini Cart Area -->
                                        <li class="hm-minicart">
                                            <div class="hm-minicart-trigger">
                                                <span class="item-icon"></span>
                                                <span class="item-text">
                                                <span>MAD 0,00</span>
                                                    <span class="cart-item-count">0</span>
                                                </span>
                                            </div>
                                            <span></span>
                                            <div class="minicart">
                                                <ul class="minicart-product-list">
                                       
                                                </ul>
                                                <p class="minicart-total">Total: <span>MAD 0,00</span></p>
                                                <div class="minicart-button menu-item">
                                                    <a href="{{path('cart')}}" class="li-button li-button-fullwidth li-button-dark">
                                                        <span>Voir Panier</span>
                                                    </a>
                                                    <a href="{{path('checkout')}}" class="li-button li-button-fullwidth">
                                                        <span>Commander</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Header Mini Cart Area End Here -->
                                    </ul>
                                </div>
                                <!-- Header Middle Right Area End Here -->
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                    </div>
                </div>
                <!-- Header Middle Area End Here -->
                <!-- Begin Header Bottom Area -->
                <div class="header-bottom header-sticky d-none d-lg-block d-xl-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Begin Header Bottom Menu Area -->
                                <div class="hb-menu">
                                    <nav>
                                        <ul>
                                            <li style="padding-right: 8px;">
                                                <img width="24px" src="{{asset('bundles/flexyfront/assets/images/favicon.png')}}" />
                                            </li>
                                        </ul>
                                        {{ knp_menu_render('FlexyShopBundle:MenuShopBuilder:mainMenu') }}
                                    </nav>
                                </div>
                                <!-- Header Bottom Menu Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Bottom Area End Here -->
                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
            </header>
            <!-- Header Area End Here -->


            <div class="spacing" style="margin-bottom:50px;" ></div>