{% extends '@SyliusShop/layout.html.twig' %}

{% set published = (page.publishAt is not null and page.publishAt|date("Y-m-d H:i:s") < "now"|date("Y-m-d H:i:s") or page.publishAt is null) %}

{%- block title -%}
    {% if page.title is not empty and published == true  %}
        {{ page.title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock -%}

{% block metatags %}
    {% if published == true %}
        {% if page.metaKeywords is not empty %}
            <meta name="keywords" content="{{ page.metaKeywords }}"/>
        {% endif %}
        {% if page.metaDescription is not empty %}
            <meta name="description" content="{{ page.metaDescription }}"/>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container">
    

    {% if published == true %}
       
       {{ bitbag_cms_render_content(page) }} 
       
    {% else %}
        {% include '@BitBagSyliusCmsPlugin/Shop/Page/Error/_notPublished.html.twig' with {'publishAt': page.publishAt} %}
    {% endif %}
</div>
{% endblock %}
